* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #ef6d34;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* NAVIGATION */
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	padding: 20px;
	background-color: var(--background-color);
	transition: background-color 0.3s ease;
	z-index: 2;
	opacity: 1;
}

.navigation.scrolled {
	background-color: var(--background-color);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	opacity: 0.9;
}

.navigation.hidden {
	transform: translateY(-100%);
	opacity: 0;
	pointer-events: none;
}

.logo-container {
	flex: 1;
}

.logo-container .logo {
	max-width: 100px;
	height: auto;
}

.menu {
	display: flex;
}

.menu-item {
	margin-right: 20px;
	text-decoration: none;
	color: white;
}

.menu-item:hover {
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
	padding-bottom: 4px;
}

.menu-item.active {
	border-bottom: 3px solid white;
	padding-bottom: 4px;
}

/* IDEAS */
/* IDEAS-BANNER */
.banner-parallax {
	background-image: url('../images/banner.jpg');
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-parallax::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-left: 100vw solid transparent;
	border-bottom: 13.9vw solid white;
	margin-top: -13.9vw;
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
	color: #fff;
}

.banner-content h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

.banner-content p {
	font-size: 1.2em;
}

/* IDEAS-CARD */
.cards {
	padding: 4rem;
	background: white;
}

.cards-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: 1120px;
	width: 90%;
	margin: 0 auto;
}

.cards-wrapper {
	position: rliative;
	margin: 0px 0 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cards-items {
	margin-bottom: 24px;
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.cards-item {
	flex: 0 0 calc(25% - 1rem);
	margin: 0.5rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards-item-pic-wrap {
	position: relative;
	width: 100%;
	padding-top: 67%;
	overflow: hidden;
}

.cards-item-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
	transition: all 0.2s linear;
}

.cards-item-img:hover {
	transform: scale(1.1);
}

.cards-item-info {
	padding: 20px 30px 30px;
}

.cards-item-date {
	color: black;
	font-size: 12px;
	line-height: 24px;
}

.cards-item-text {
	color: black;
	font-size: 15px;
	line-height: 1.5;
	max-height: 4.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.cards-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.data-length {
	flex: 1;
}

.show-per-page,
.sort-by {
	margin-left: auto;
}

.show-per-page label,
.sort-by label {
	margin-right: 5px;
}

.show-per-page select,
.sort-by select {
	padding: 8px;
	margin-right: 30px;
	border-radius: 20px;
}

.data-length p {
	margin: 0;
}

/* IDEAS_PAGINATION*/
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination button {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	cursor: pointer;
	padding: 8px 12px;
	margin: 0 4px;
	transition: background-color 0.3s;
}

.pagination button:hover {
	background-color: var(--background-color);
}

.pagination button.active {
	background-color: #ddd;
	cursor: default;
}

.pagination button svg {
	font-size: 18px;
}

.pagination button:disabled {
	background-color: #ddd;
	border: 1px solid #ccc;
	color: #999;
	cursor: not-allowed;
}
